{{> navbas_user}}

<body style="background-image: linear-gradient(to right top, #c8deff, #acd1e0, #a4c1bf, #a1aea6, #9a9b97);">
    <div class="container mt-5" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: rgb(255, 255, 255);">
        <h1>Votar en los eventos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID evento</th>
                    <th scope="col">Nombre del evento</th>
                    <th scope="col">Fecha de Inicio</th>
                    <th scope="col">Fecha de Termino</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#each eventos}}
                <tr>
                    <td>{{customId this}}</td>
                    <td>{{customTitle this}}</td>
                    
                    <td>{{ customDate this}}</td>
                    <td>{{ customFechaTermino this}}</td>
                    <td>
                       {{#if (isActivo (customActivo this))}}
                    <a href="Vote/{{customId this}}" class="btn btn-primary btn-sm">Votar</a>
                    {{else}}
                    <a class="btn btn-primary disabled btn-sm">Cerrado</a>
                    {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
   

</body>